[submodule "test/webgl-shader-loader"]
	path = test/webgl-shader-loader
	url = https://github.com/nickdesaulniers/webgl-shader-loader.git
[submodule "test/gl-matrix"]
	path = test/gl-matrix
	url = https://github.com/toji/gl-matrix.git
[submodule "webgl-obj-loader"]
	path = webgl-obj-loader
	url = https://github.com/frenchtoast747/webgl-obj-loader.git
